/* STYLES FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

footer {
    padding: 20px;
    display: block;
    justify-content: center;
    min-width: min-content;
    background-color:#C36033;
}
#contenu-footer{
    text-align: center;
}
.font-footer{
    margin-left: 40px;
}
img#logo-footer {
    width: 192px;
    height: 62px;
    display: inline-table;
}
h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}
#navbar-footer, #second-footer-menu, #rs-footer {
    margin: 0px 20px;
    display: inline-table;
    text-align: left;
}

/* Menu fonctionnel footer */
nav#navbar-footer {
    margin: 20px;
}
ul.menu-footer, a#onglet-footer {
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    color: white;
    list-style-type: none;
    padding-left: 0px;
}
a#onglet-footer {
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    opacity: 75%;
    padding-left: 0px;
}


/* Menu fictifs footer */
#second-footer-menu {
    margin: 20px;
    list-style-type: none;
}
p#second-onglet-footer {
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 75%;
}
a#onglet-footer:hover{
    opacity: 100%;
}
/* Menu RS footer */
#rs-footer {
    margin: 20px;
}
img#icon-twitter, img#icon-linkedin ,img#icon-facebook {
    margin: 0px 10px;
    width: 25px;
    height: auto;
}
p.contact-footer {
    font-family: 'Roboto Light', sans-serif;
    font-size: 12px;
    color: white;
}