{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <a href="{{ path('product', {'slug':'coque-antichoc-pour-iphone-xr'}) }}"></a>

    <div>
        <h1>Nouveautés</h1>
        {% include 'list_products.html.twig' with {'product': 'i'} %}
    </div>
    <div>

    </div>

{% endblock %}
