{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
    <a id="background-slider" href="{{ path('product', {'slug':'coque-antichoc-pour-iphone-xr'}) }}">
        <img src="/img/Slider-image.png">
    </a>

    <div>
        <h1>Nouveautés</h1>
        {% include 'list_products.html.twig' with {'product': 'i'} %}
    </div>
        
    </div>
{% endblock %}
