{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="slider-pub">
        <img src="/image/coque-antichoc-pour-iphone-xs.png" id="coque-slider" class="coque-slider">

        <h1 class="titre-slider">"La coque de choc, garantie contre les chocs !"</h1>
        <p>Déccouvrez la nouvelle coque ResistMAX, <br>solide pour protéger l’iPhone X.</p>
        <input type="button" id="btn-orange">
    </div>

    <div>
        <h1>Nouveautés</h1>
    </div>
    <div>

    </div>

{% endblock %}
