{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <a href="{{ path('product', {'slug':'coque-antichoc-pour-iphone-xr'}) }}">
        <img src="/img/coque-antichoc-pour-iphone-xs.png" id="coque-slider" class="coque-slider">

        <div class="slider-pub">
        <h1 class="titre-slider">"La coque de choc,<br>garantie contre les chocs !"</h1>
        <p>Déccouvrez la nouvelle coque ResistMAX, <br>solide pour protéger l’iPhone X.</p>
        </div>

    </a>

    <div>
        <h1>Nouveautés</h1>
        {% include 'list_products.html.twig' with {'product': 'i'} %}
    </div>
    <div>

    </div>

{% endblock %}
