{% extends "base.html.twig" %}

{% block title %}CGV{% endblock %}

    {% block body %}

<h1>Conditions générales de vente</h1>

<h2>Clause n° 1 : Objet</h2>
<p>Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société MOBILE GUY et de son client dans le cadre de la vente des marchandises suivantes : smartphones et accessoires .
    Toute prestation accomplie par la société MOBILE GUY implique donc l’adhésion sans réserve de l’acheteur aux présentes conditions générales de vente.</p>

<h2>Clause n° 2 : Prix</h2>
<p>Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA et des frais de transport applicables au jour de la commande.
    La société MOBILE GUY s’accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s’engage à facturer les marchandises commandées aux prix indiqués lors de l’enregistrement de la commande.</p>

<h2>Clause n° 3 : Rabais et ristournes</h2>
<p>Les tarifs proposés comprennent les rabais et ristournes que la société MOBILE GUY serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l’acheteur de certaines prestations.</p>

<h2>Clause n° 4 : Escompte</h2>
<p>Aucun escompte ne sera consenti en cas de paiement anticipé.</p>

<h2>Clause n° 5 : Modalités de paiement</h2>
<p>Le règlement des commandes s’effectue :<br>
soit par carte bancaire ;<br>
    soit par Paypal.</p>

<h2>Clause n° 6 : Retard de paiement</h2>
<p>En cas de défaut de paiement total ou partiel des marchandises livrées au jour de la réception, l’acheteur doit verser à la société MOBILE GUY une pénalité de retard égale à trois fois le taux de l’intérêt légal. <br>
Le taux de l’intérêt légal retenu est celui en vigueur au jour de la livraison des marchandises.<br>

Cette pénalité est calculée sur le montant TTC de la somme restant due, et court à compter de la date d’échéance du prix sans qu’aucune mise en demeure préalable ne soit nécessaire.En sus des indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d’exigibilité produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de recouvrement.<br>
    Articles 441-6, I alinéa 12 et D. 441-5 du code de commerce.</p>

<h2>Clause n° 7 : Clause résolutoire</h2>
<p>Si dans les quinze jours qui suivent la mise en oeuvre de la clause ” Retard de paiement “, l’acheteur ne s’est pas acquitté des sommes restant dues, la vente sera résolue de plein droit et pourra ouvrir droit à l’allocation de dommages et intérêts au profit de la société MOBILE GUY.</p>

<h2>Clause n° 8 : Clause de réserve de propriété</h2>
<p>La société MOBILE GUY conserve la propriété des biens vendus jusqu’au paiement intégral du prix, en principal et en accessoires. À ce titre, si l’acheteur fait l’objet d’un redressement ou d’une liquidation judiciaire, la société MOBILE GUY se réserve le droit de revendiquer, dans le cadre de la procédure collective, les marchandises vendues et restées impayées.</p>

<h2>Clause n° 9 : Livraison</h2>
<p>La livraison est effectuée au lieu indiqué par l’acheteur sur le bon de commande.<br>
    Le délai de livraison indiqué lors de l’enregistrement de la commande n’est donné qu’à titre indicatif et n’est aucunement garanti. Par voie de conséquence, tout retard raisonnable dans la livraison des produits ne pourra pas donner lieu au profit de l’acheteur à :</p>
<ul>
    <li>l’allocation de dommages et intérêts ;</li>
    <li>l’annulation de la commande.</li>
</ul>

<p>Le risque du transport est supporté en totalité par l’acheteur.<br>
    En cas de marchandises manquantes ou détériorées lors du transport, l’acheteur devra formuler toutes les réserves nécessaires sur le bon de commande à réception desdites marchandises. Ces réserves devront être, en outre, confirmées par écrit dans les cinq jours suivant la livraison, par courrier recommandé AR.</p>

<h2> Clause n°10 : Garantie contractuelle</h2>
<p>
    2.1 La garantie contractuelle couvre la réparation des dysfonctionnements matériels du Produit survenus pendant la période ci-dessous, uniquement si le Produit est utilisé conformément à son manuel d’utilisation.<br>
2.2 La durée de la garantie contractuelle des Produits Remade et de leurs accessoires est la suivante: - 12 mois pour le produit, 6 mois pour les accessoires sauf cadre législatif plus favorable.<br>
2.3 Le matériel est garanti contre tout défaut de fabrication à compter de sa date d'achat par le Client hors cas d’exonération de responsabilité conformément à l’article 2.5 ci-après.<br>
Si, pendant la période de garantie, le Produit s'avère défectueux en raison d'une défaillance du matériel, MOBILE GUY en assure la réparation selon les modalités ci-dessous, sans facturer la main-d’œuvre et les pièces supplémentaires.
    MOBILE GUY se réserve le droit, en fonction du coût engendré, de réparer le Produit ou de le remplacer par un modèle identique ou équivalent.<br>
2.4 Même en cas de prolongation des délais dans les conditions susvisées, MOBILE GUY ne sera pas tenu de prêter des Produits de remplacement, ni avant, ni pendant la réparation.<br>
2.5 La garantie contractuelle Remade ne couvre pas :
<ul>
    <li>l’entretien et les réparations nécessaires, ou le remplacement de pièces, dus à l'usure normale ;</li>
    <li>un dysfonctionnement du fait de l’ouverture de l'Appareil par une personne non expressément habilitée par Remade ;</li>
    <li>les modifications destinées à améliorer le Produit au-delà de son usage normal tel qu'il est décrit dans le manuel d'utilisation, et ceci sans le consentement écrit préalable de MOBILE GUY ;</li>
    <li>les pertes ou dommages de logiciels.</li>
</ul>

Seul le Client est responsable :
<ul>
    <li>de la sauvegarde de tous programmes, données ou supports de stockage amovibles ;</li>
    <li>des entretiens périodiques et des réparations ou remplacements de pièces par suite d’une usure normale ;</li>
    <li>des infections par virus informatique ou de l’utilisation du Produit avec des logiciels non fournis, incorrectement installés ou frauduleux ;</li>
    <li>de tout dommage résultant de modifications ou d'ajustements qui pourraient être opérés sur le Produit, sans le consentement écrit préalable de MOBILE GUY, afin qu'il soit conforme aux normes techniques au niveau local ou national, en vigueur dans n'importe quel autre pays que ceux pour lesquels le Produit a été conçu et/ou fabriqué à l'origine ;</li>
    <li>de tout dommage causé par un mauvais usage du Produit ou non-conforme aux instructions d'utilisation relatives à l‘usage et à l’entretien appropriés du Produit, et par une installation ou une utilisation de l'Appareil qui ne serait pas conforme aux normes de sécurité en vigueur dans le pays où il est utilisé ;</li>
    <li>de tout dommage causé par un accident ou un choc sans que la liste qui suit soit limitative : foudre, dégâts des eaux, incendie, mauvais usage ou négligence dans l’utilisation du Produit ;</li>
    <li>des détériorations volontaires et des dégâts causés par l’eau (notamment oxydation) ;</li>
    <li>de toute modification ou suppression du numéro de modèle ou du numéro de série figurant sur le Produit ;</li>
    <li>de tout dommage résultant de réparations ou ajustements ayant été effectués par des entreprises ou par des personnes non autorisées expressément par MOBILE GUY ;</li>
    <li>de tous défauts dans n'importe quel système auquel le Produit est incorporé ou avec lequel il est utilisé ;</li>
    <li>de tout dommage causé par un transport ou un emballage inapproprié lors du retour du produit au distributeur ou à MOBILE GUY ;</li>
    <li>de tout dommage esthétique y compris les rayures, les traces de choc, ou défauts des plastiques de protection des ports de connexion, les fissures ou éraflures de l’écran LCD.</li>
</ul>


<p>2.6 La demande d’intervention en garantie s’effectue sur le site en ligne de Remade à l’adresse www.mobileguy.fr<br>
    Pour toute réparation sous garantie, le justificatif de l’achat du Produit Remade sera exigé lors du dépôt de la demande d’intervention.<br>
    La durée de disponibilité des pièces est de un (1) an à compter de la date d’achat du Produit Mobile Guy par le Client.<br>
    En cas de rupture d’approvisionnement de pièces, préalablement à la durée annoncée ci-dessus, et dans le cas où aucun échange contre un Appareil identique ne serait possible, Mobile Guy se réserve le droit de faire une proposition d'échange contre un modèle au moins équivalent à l'Appareil à réparer.<br>
    Le refus par le Client de cette proposition n’ouvrira en aucun cas droit à une indemnisation par Mobile Guy.

2.7 Les Produits sous garantie devront être retournés dans un emballage adapté et soigné.<br>

2.8 Toute demande d’intervention devra spécifier, pour chaque Produit le dysfonctionnement constaté ainsi que les coordonnées de son propriétaire.<br>

2.9 Mobile Guy se réserve le droit de refuser un service de garantie gratuit, si les documents mentionnés ci-dessus ne peuvent être présentés ou si les informations qu'ils contiennent sont incomplètes, illisibles ou incohérentes.<br>

2.10 En application du Code de la consommation, toute période d’immobilisation du Produit en SAV d’au moins sept (7) jours pour une remise en état couverte par la garantie contractuelle viendra s’ajouter à la durée de la garantie qui restait à courir à la date de la demande d’intervention du client ou de la mise à disposition pour réparation du Produit en cause, si cette mise à disposition est postérieure à la demande d’intervention.<br>

2.11 Rejet de garantie<br>

Les Produits non couverts par la garantie contractuelle selon les critères fixés à l’article 2.5 ci-dessus, donneront lieu à une facturation du diagnostic et du transport retour d'un montant de 30€ TTC, sauf en cas d'acception du devis établi par Mobile Guy.

<h2>Clause n°11 : Garantie légale</h2>

<p>Mobile Guy est tenu des défauts de conformité des pièces détachées utilisées par ses soins pour réparer l'Appareil dans les conditions de l'article L. 211-4 et suivants du code de la consommation, et des défauts cachés dans les conditions prévues aux articles 1641 et suivants du code civil.<br>

    La garantie légale de conformité s’applique indépendamment de la garantie commerciale pouvant couvrir le bien.</p>

<h2> Clause n°12 : Appareils hors garantie </h2>

    <p>Pour les Produits non couverts par la période de garantie contractuelle, nous mettons à votre disposition une grille de tarif des différentes interventions SAV en vigueur. Le tarif est consultable sur le site internet www.mobileguy.fr<br>
        La demande d’intervention s’effectue sur le site en ligne de Mobile Guy à l’adresse www.mobileguy.fr </p>

    <h3>Dans le cadre d'un devis forfaitaire :</h3>
    <p>Après réception du Produit par Remade ou son partenaire, un diagnostic est réalisé. Si celui-ci détecte des pannes non couvertes au titre du devis forfaitaire, un devis complémentaire vous sera établi préalablement à la réparation du produit.</p>

    <h3>Dans tous les autres cas :</h3>
    <p>Après réception du Produit par Remade ou son partenaire, un diagnostic est réalisé. Un devis vous sera systématiquement établi préalablement à la réparation du produit.<br>

    Le devis est valable pendant une durée de trente (30) jours à compter de sa date d’émission.</p>

    <h3>Deux hypothèses :</h3>
    <p>Si le Client donne son accord sur le devis, les frais d’établissement du devis seront déduits de la facture finale ;<br>
        Si le devis est expressément refusé par le client des frais administratifs de 30€ TTC seront facturés.<br>

        Le paiement conditionne tout retour du Produit ;<br>
        Le paiement doit se faire avant tout retour du Produit par Mobile Guy.<br>
        La demande d’intervention ne deviendra définitive et ne liera Mobile Guy qu’après l’acceptation expresse du devis émis par Mobile Guy. <br>
    </p>
    <p>
        La validation du devis pourra être effective suite à la saisie d'un « bon pour accord » . Le paiement devra être effectué par chèque ou virement.<br>
        Une fois le devis validé, le client renonce expressément à son droit de rétractation pour que la fourniture du service de réparation puisse être exécuté avant la fin de ce dit délai.<br>
        Toutefois, les tarifs applicables à la réparation seront ceux en vigueur au jour de la réception du Produit, ou le cas échéant, ceux mentionnés au devis de réparation.<br>
        Les travaux supplémentaires non prévus initialement au devis mais nécessaires à la réparation suite au démontage du Produit, ou utiles ou économiquement avantageux pour le Client, pourront faire l’objet d’un devis correspondant qui sera transmis au Client dans les meilleurs délais, et notamment par un devis rectificatif gratuit.<br>
        Aucune intervention ne sera effectuée sans l’accord express et préalable du Client.<br>
        Au-delà de la réparation de l'Appareil qui lui est confié, le SAV peut proposer au Client des prestations complémentaires moyennant un prix forfaitaire.<br>
        Le Client confirmera son accord pour ces prestations forfaitaires en signant le « Devis » tel qu'énoncé ci-dessus.
    </p>

    <p>En cas de refus du devis complémentaire, Remade ne pourra être tenu pour responsable d’un dysfonctionnement ultérieur de la marchandise concernée, en raison de la pièce défectueuse qui aura été identifiée dans le devis complémentaire.<br>
        Le Client a la possibilité de suivre le statut de sa réparation, télécharger des manuels d’utilisation, des mises à jour et consulter des informations techniques sur le site internet de Remade www.remade.com.<br>
        Le Produit réparé n’est retourné au Client qu’après paiement de la facture.<br>
        Les frais de réparation sont payables selon les modalités indiquées à l’article 6 ci-après.
    </p>

<h2>Clause n°13 : Garantie après réparation</h2>
    <p>
        La garantie s’appliquant sur la réparation effectuée par Mobile Guy est d’une durée de 3 (trois) mois à compter de la date de réexpédition ou de la mise à disposition du Produit et s'applique exclusivement sur la ou les fonctions objet de la précédente intervention, à l’exclusion de toute autre.
        Les frais de port, d’emballage, d’assurance, relatifs à l’expédition à Remade sont à la charge du Client.
        Pour permettre de vérifier qu’il peut bénéficier de cette garantie, le Client devra présenter la facture de paiement de la Prestation objet de la demande de garantie en pièce jointe.

    </p>


<h2>Clause n°14 : Procédure du SAV</h2>
<p>
    Pour toute demande d’intervention dans le cadre de la garantie contractuelle, le Client devra présenter la facture d’achat du Produit concerné.<br>
    La demande d’intervention en garantie s’effectue sur le site en ligne de Mobile Guy à l’adresse www.mobileguy.fr où le Client doit remplir le formulaire de Déclaration d'incident.<br>
    La marchandise devant faire l’objet de réparations doit être envoyée au site indiqué par le SAV. Si le produit est lié à un compte utilisateur empêchant la réparation du produit, c'est un motif de rejet de garantie.<br>
    Préalablement à toute demande d’intervention, le Client s’engage à :
    avoir procédé à une sauvegarde de l’ensemble des données stockées dans son Produit afin de pouvoir les récupérer suite à la réparation. Au sens du RGPD, Mobile Guy n'est pas dépositaire des données personnelles stockées dans le produit. Le client est averti qu'à la reception du produit, l'ensemble des données personnelles stockées sur le produit seront effacées. <br>
    En conséquence, le Client reconnaît que la responsabilité de Remade ne saurait être engagée en cas de perte ou destruction desdites données.<br>

    Nous demandons que la carte SIM soit retirée du Produit. A défaut, Remade ne saurait endosser aucune responsabilité dans l’hypothèse où un tiers utiliserait la carte SIM, détériorerait la carte SIM, ou si la carte SIM était détruite ou perdue.
</p>


<h2>Clause n° 15 : Force majeure</h2>
<p>La responsabilité de la société MOBILE GUY ne pourra pas être mise en œuvre si la non-exécution ou le retard dans l’exécution de l’une de ses obligations décrites dans les présentes conditions générales de vente découle d’un cas de force majeure. À ce titre, la force majeure s’entend de tout événement extérieur, imprévisible et irrésistible au sens de l’article 1148 du Code civil.</p>

<h2>Clause n° 16 : Tribunal compétent</h2>
<p>Tout litige relatif à l’interprétation et à l’exécution des présentes conditions générales de vente est soumis au droit français. À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de Nantes.</p>

<p>Fait à Nantes, le 21 juillet 2021</p>

{% endblock %}