{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

    {% block body %}

<h1>Mentions légales</h1>

<h2>Mentions légales</h2>
<p>Conformément aux dispositions de l’article 6 III-1 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, nous vous informons que le présent site www.mobileguy.fr (ci-après « le Site ») est la propriété exclusive de la société MOBILE GUY SAS : société par action simplifiée au capital de 53 900,00 €, immatriculée au Registre du Commerce et des Sociétés d’Agen sous le numéro B 831 094 081, dont le numéro de TVA intracommunautaire est  FR75831094081 et dont le siège social se situe 1 boulevard du Commerce 44000 Nantes (ci-après « la société MOBILE GUY»).</p><br>
<p>Directeur de la Publication : Florian Préault.</p><br>
<p>Le Site est hébergé par la société LWS (France).</p>

<h2>Conditions générales</h2>
    <h3>1. Préambule</h3>
<p>Ce site a pour objectif de vous présenter l’offre de service Mobile Guy. Mobile Guy propose à la vente en ligne des smartphones ainsi que des accessoires mobiles.</p><br>
<p>L’accès et l’utilisation de ces Services sont régis par les présentes Conditions Générales, dont seule la version française fait foi. Les Visiteurs, les Inscrits et Clients disposent de la faculté de les sauvegarder et de les imprimer.</p><br>

    <h3>2. Définitions</h3>
    <p>Dans le cadre des présentes conditions générales (ci-après « les Conditions Générales » ou «  CG »), en ce compris son article 1er (Préambule), les termes commençant par une majuscule, qu’ils soient employés au singulier ou au pluriel selon le contexte de leur emploi, auront la signification suivante :<br>

<h4>2.1.   «  Article» :</h4>
<p>désigne le produit vendu à l’Acheteur par la société MOBILE GUY.<br>
    MOBILE GUY propose deux (2) gammes de produits, à savoir :<br>
    Smartphones, ou appareils de téléphonie mobile.<br>
    Accessoires, désignant des coques de protections d'appareils.<br></p>

<h4>2.2.   « Client(s) » : </h4>
<p>désigne toute personne, passant une Commande sur le Site, pour ses besoins personnels ou pour le compte d’un tiers, dans les conditions et modalités des présentes CGV.<br>

    Le Client est nécessairement, au sens du Code de la consommation :<br>

    Un consommateur : toute personne physique qui agit à des fins qui n’entrent pas dans le cadre de son activité commerciale, industrielle, artisanale, libérale ou agricole ou<br>
    Un non-professionnel : toute personne morale qui n’agit pas à des fins professionnelles.</p>

<h4>2.3.   « Commande » : </h4>
<p>désigne la/les commande(s) de Produit(s) passée(s) par le Client auprès de Mobile Guy sur le Site et suivant les modalités fixées dans les présentes CGV ;</p>

<h4>2.4.   «   Compte Personnel  » : </h4>
<p>désigne le compte créé par l’Inscrit sur le Site et accessible par celui-ci à l’aide de ses identifiants et mot de passe personnels ;</p>

<h4>2.5.   «  Données Personnelles  » : </h4>
<p>désigne les données à caractère personnel permettant d’identifier directement ou indirectement le Visiteur, l’Inscrit et/ou le Client lors de son inscription au Site et de la création de son Compte Personnel (ex : nom, prénom, adresse de courrier électronique, adresse postale, nom d’utilisateur, adresse IP, etc.) ;</p>

<h4>2.6.   « Inscrit(s) » : </h4>
<p>désigne tous personne ayant créé un Compte Personnel sur le Site www.mobileguy.fr ;</p>

<h4>2.7. « Site » : </h4>
<p>désigne le site Internet accessible à l’adresse URL https://www.mobileguy.fr ;</p>

<h4>2.8. « Visiteur(s) » : </h4>
<p>toute personne naviguant sur le Site www.mobileguy.fr.</p>

    <h3>3.     Objet des Conditions Générales</h3>
<p>Les présentes Conditions Générales ont pour objet de définir les conditions et modalités selon lesquelles EXTERIEUR CREATIVE BOX met à la disposition des Visiteurs, Inscrits et Clients son Site et propose ses Produits détaillés ci-après.

    <h3>4.     Acceptation des présentes Conditions Générales</h3>
<p>Les présentes Conditions Générales s’appliquent à tout Visiteur, Inscrit et/ou Client du Site.<br>
    L’accès et l’utilisation du Site entraîne l’adhésion du Visiteur, de l’Inscrit et/ou du Client aux présentes Conditions Générales. Le fait de confirmer la souscription à un Abonnement ou la passation d’une Commande sur le Site, en cliquant sur le bouton “confirmer ma commande“, après avoir coché la case « J’accepte les Conditions Générales » vaut acceptation pleine et entière des présentes Conditions Générales. Si vous n’étiez pas d’accord avec les clauses énoncées ci-après, il vous est conseillé de ne pas utiliser le Site et/ou de ne pas passer de Commande.<br>
    Les Conditions Générales applicables sont celles en vigueur au jour de la visite sur le Site, de la souscription d’un l’Abonnement et/ou de la passation d’une Commande.<br>
    Les présentes Conditions Générales peuvent faire l’objet de modifications par MOBILE GUY.<br>
    Dans ce cas, MOBILE GUY en informera les Clients et les nouvelles Conditions Générales seront applicables aux seules Commandes réalisées postérieurement à la modification, ou dans le cadre des Abonnements à Durée mensuel, à compter du mois suivant la modification.<br>
    Faute d’accord avec les Conditions Générales modifiées, il vous est conseillé de vous abstenir de continuer d’utiliser les services du Site.<br>
    A défaut, les modifications apportées aux Conditions Générales seront réputées acceptées.</p>

<h3>5.     Ventes et Services aux particuliers</h3>
<p>MOBILE GUY réserve exclusivement ses Produits à une clientèle de consommateurs et/ou de non-professionnels au sens du Code de la consommation. Tout Client s’engage donc à agir en cette qualité. MOBILE GUY se réserve le droit de refuser ou d’annuler toute Commande et/ou Abonnement émanant d’un Client s’avérant être un revendeur professionnel.</p>

<h3>6.     Accès et utilisation du Site</h3>
    <p>6.1.   MOBILE GUY s’efforce de maintenir accessible le Site sans pour autant être tenu à aucune obligation d’y parvenir. L’accès au Site pourra être interrompu à des fins de maintenance, de mise à jour, ou pour tout autre raison d’ordre technique.<br>
    6.2.   Avant de passer toute Commande, le Visiteur doit créer un Compte Personnel sur le Site Internet et renseigner les informations qui lui sont demandées, en particulier ses Données Personnelles.<br>
    Dès la création de son Compte Personnel, l’Inscrit reçoit un courrier électronique de confirmation de ce dernier. Il ne sera admis qu’un seul Compte Personnel par personne (même nom, même prénom, même adresse de courrier électronique).<br>

    6.3.   L’Inscrit garantit l’exactitude, la sincérité et la fiabilité des informations renseignées, particulièrement de ses Données Personnelles. L’Inscrit fournit en particulier une seule adresse de courrier électronique valide et fonctionnelle, laquelle sera un moyen de communication entre lui et MOBILE GUY, ainsi qu’une adresse valide de livraison postale. Il appartient en conséquence à l’Inscrit de modifier à tout moment et dans les meilleurs délais tout changement de coordonnées via son Compte Personnel accessible sur le Site Internet dans la rubrique « mon compte ».<br>

    6.4.  MOBILE GUY ne peut être tenue responsable de l’absence de diligence de l’Inscrit lors de la souscription, la modification et la mise à jour de ses Données Personnelles, et par suite de coordonnées erronées, avec leurs conséquences sur la livraison des Commandes.<br>

    6.5.  MOBILE GUY pourra vérifier à tout moment la conformité des informations renseignées par le Client et, le cas échéant, si ces informations lui paraissent erronées et/ou trompeuses, pourra demander la communication d’informations supplémentaires ou rectifiées. En cas d’information erronée ou paraissant trompeuse, MOBILE GUY se réserve la possibilité, de plein droit (i) de suspendre ou rompre toute relation contractuelle avec le Client (ii) et/ou de suspendre l’accès de l’Inscrit à son Compte Personnel.<br>

    6.6.   L’Inscrit a accès à son Compte Personnel grâce à un identifiant et un mot de passe qu’il créé lui-même au moment de la création de son Compte Personnel. L’Inscrit est seul responsable de l’utilisation de ces éléments d’identification, il est tenu de les garder secrets.<br>
    6.7.   MOBILE GUY ne peut être responsable de la perte ou du vol de ces éléments d’identification. Les éléments peuvent faire l’objet de modification uniquement sur l’initiative de l’Inscrit ou de la société MOBILE GUY en cas d’oubli du mot de passe par l’Inscrit, sur demande écrite. MOBILE GUY n’est pas responsable de la divulgation de ces éléments à des tiers, ni des conséquences de la divulgation.</p>

{% endblock %}