{% extends "base.html.twig" %}

{% block title %}Protection des données{% endblock %}

    {% block body %}

<h1>Protection des données</h1>
        <p>
            La politique de confidentialité de Mobile Guy s’applique sur le site www.mobileguy.fr.<br>
            Vous trouverez ci-dessous les termes de notre engagement concernant le traitement de vos données personnelles. Ils ont pour but de vous informer sur la manière dont nous utilisons ces données et vous indiquent la façon de procéder si vous souhaitez y apporter une modification ou refuser que vos coordonnées soient transmises à des tiers.<br>
            Mobile Guy s’engage à protéger et respecter votre vie privée.<br>
            Cette politique, ainsi que tous les autres documents qui y sont cités, indique comment nous traitons les données personnelles que nous collectons ou que vous nous fournissez. Nous vous demandons de lire attentivement ce qui suit afin de comprendre nos visions et pratiques concernant vos données personnelles et notre manière de les gérer.<br>
            En visitant ce site, vous acceptez et consentez aux pratiques décrites dans cette politique.
        </p>

        <h2>1. Informations que nous recueillons</h2>
        <p>Nous collectons et traitons les catégories de données suivantes vous concernant :</p>
        <ul>
            <li>Informations que vous nous fournissez. Vous nous donnez des informations à votre sujet lorsque vous remplissez des formulaires sur nos sites Web, que vous interagissez avec le Site ou que vous nous contactez par téléphone, par courrier électronique ou par un autre moyen. Cela inclut les données que vous fournissez lorsque vous vous enregistrez pour utiliser le site et lorsque vous signalez un problème avec le Site.
                Les informations que vous nous fournissez incluent vos nom, adresse, adresse e-mail et numéro de téléphone, ainsi que des informations préliminaires sur votre entreprise et son emplacement.
            </li>
            <li>Informations que nous collectons à votre sujet. Ce sont des informations que nous recueillons automatiquement au sujet de votre visite, pendant le temps passé sur le Site. Il s’agit généralement d’informations techniques collectées régulièrement dans de petits fichiers de données appelés « cookies ». Ces données nous permettent de vous offrir une bonne expérience lorsque vous naviguez sur le Site et nous indiquent également ce qui doit y être amélioré.
                Pour plus d’informations sur le fonctionnement des cookies, les cookies que nous utilisons et pourquoi, voir notre politique concernant les cookies (disponible ici).
            </li>
            <li>Informations que nous recevons d’autres sources. Nous combinerons ces informations avec les données que vous nous fournissez d’une part et les informations que nous collectons à votre sujet d’autre part. Nous les utiliserons aux fins énoncées ci-dessus (en fonction du type d’informations).
            </li>
            <li>Pour préserver la sécurité du Site ;</li>
            <li>Pour mesurer ou comprendre l’efficacité des publicités que nous diffusons, et pour vous montrer des publicités pertinentes ; et</li>
            <li>Pour respecter nos obligations et notre politique en matière de tenue de registres et de stockage des informations (Pour plus d’informations, consultez la section « Où stockons-nous vos données personnelles », ci-après).
            </li>
        </ul>

        <h2>2. Informations que nous recevons d'autres sources</h2>
        <p>Ce sont les informations que nous recevons à votre sujet si vous utilisez notre site web. Dans ce cas, vous serez informé du moment où ces données ont été collectées si nous avons l’intention de le partager en interne. Nous expliquerons également dans quel but nous partagerons vos données.</p>
        <p>Cela inclut également les informations que nous recevons de la part de tiers, tels que des partenaires commerciaux, des sous-traitants des services techniques, des réseaux publicitaires, des fournisseurs d’analyses, des fournisseurs d’informations de recherche, etc. Nous vous informerons lorsque nous recevrons des informations vous concernant et nous préciserons les raisons pour lesquelles nous avons l’intention d’utiliser ces informations.</p>

        <h2>3. Utilisation des informations</h2>
        <p>Toutes les informations à votre sujet que nous recueillons ou recevons, qu’elles soient de nature personnelle ou technique, peuvent être utilisées par nous de la manière suivante :</p>
        <ul>
            <li>Pour remplir nos obligations découlant de tout contrat conclu entre vous et nous et pour vous fournir les informations, produits et services que vous nous demandez ;</li>
            <li>Pour vous fournir des informations sur d’autres biens et services que nous, ou nos partenaires sélectionnés, proposons et qui sont pertinents ou similaires ou à ceux que vous avez déjà achetés ou recherchés. Ces contacts se feront uniquement par e-mail ou SMS, et vous pouvez les refuser à tout moment ;</li>
            <li>Pour vous informer des changements apportés à nos services ;</li>
            <li>Pour administrer le Site et effectuer des opérations internes, y compris le dépannage, l’analyse des données, les essais, les recherches, les études statistiques et les enquêtes ;</li>
            <li>Pour améliorer le Site et s’assurer que son contenu est présenté de la manière la plus efficace pour vous et pour votre ordinateur ;</li>
            <li>Pour vous permettre d’utiliser les fonctions interactives de notre service, lorsque vous choisissez de le faire ;</li>
            <li>Pour préserver la sécurité du Site :</li>
            <li>Pour mesurer ou comprendre l’efficacité des publicités que nous diffusons, et pour vous montrer des publicités pertinentes ;</li>
            <li>Pour respecter nos obligations et notre politique en matière de tenue de registres et de stockage des informations (Pour plus d’informations, consultez la section « Où stockons-nous vos données personnelles », ci-après).</li>
        </ul>

        <h2>4. Divulgation de vos informations</h2>
        <p>Nous pouvons partager vos informations avec :</p>
        <ul>
            <li>Toute entité membre de EXTÉRIEUR CRÉATIVE BOX et du réseau JARDICOACH ;</li>
            <li>Les partenaires commerciaux, les fournisseurs et les sous-traitants pour l’exécution de tout contrat que nous concluons avec eux ou avec vous ;</li>
            <li>Les annonceurs et les réseaux publicitaires qui requièrent des données pour sélectionner et diffuser des publicités pertinentes pour vous et les autres utilisateurs. De telles informations ne permettent pas aux annonceurs de vous identifier, mais nous leur fournissons des informations agrégées sur nos utilisateurs (par exemple, 500 utilisateurs vivent dans une zone donnée) pour les aider à atteindre le type de public qu’ils veulent cibler. Nous pouvons utiliser les données personnelles que vous nous avez fournies pour respecter les souhaits de nos annonceurs en montrant leurs publicités au public qu’ils visent ; et</li>
            <li>Les fournisseurs d’analyses et de moteurs de recherche qui nous aident à améliorer et optimiser le Site ;</li>
        </ul>
        <p>Nous divulguerons vos informations personnelles à des tiers :</p>
        <ul>
            <li>Si nous vendons ou achetons une entreprise ou des actifs, auquel cas nous divulguerons vos données personnelles au vendeur ou à l’acheteur potentiel de cette entreprise ou de ces actifs ;</li>
            <li>Si nous, ou la quasi-totalité de nos actifs, sommes acquis par un tiers, auquel cas les données personnelles que nous détenons sur nos clients seront l’un des actifs transférés ;</li>
            <li>Si nous sommes dans l’obligation de divulguer ou de partager vos données personnelles afin de respecter toute obligation légale, ou afin de faire respecter ou d’appliquer nos conditions d’utilisation et d’autres accords ; ou</li>
            <li>Pour protéger nos droits, nos biens ou notre sécurité, ou ceux de nos clients ou de tiers.</li>
        </ul>

        <h2>5. Où stockons-nous vos données personnelles</h2>
    {% endblock %}